---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import VideoHero from '../components/VideoHero.astro';
import Nosotros from '../components/Nosotros.astro';
import Productos from '../components/Productos.astro';
import TextBlock from '../components/TextBlock.astro';
import TestimonialCarousel from '../components/TestimonialCarousel.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';

// 1. IMPORTANTE: Aquí importamos el JSON de traducciones
import traducciones from '../data/idiomas.json';

// 2. Aquí decidimos qué idioma usar
const esIngles = Astro.url.pathname.startsWith('/en');
const idioma = esIngles ? 'en' : 'es';

// 3. AQUÍ CREAMOS LA VARIABLE 't'
const t = traducciones[idioma];
---

<MainLayout title="Alimentos Pronalfrut - Inicio">
    <Navbar />
    <main>
      <Hero /> 
            <VideoHero />
        <Nosotros />
        <Productos />

       <TextBlock
    title={t.nosotros.politicaTitulo}
    paragraph={t.nosotros.politicaTexto}
/>
<TestimonialCarousel 
    title={t.footer.navClientes} 
    message="Próximamente conocerás las opiniones de las empresas que confían en nosotros." 
/>
<Contacto />
    </main>
    <Footer />
</MainLayout>





