---
import '../styles/global.css'; // <--- Importamos el CSS global aquí
const { title = "Alimentos Pronalfrut" } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
</head>
<body>
  <slot />
  <!-- ... tu botón de WhatsApp ... -->
</body>
</html>

















